/*---------------------------------------------
	/ Toolbar
*/
header.toolbar {
    z-index: 99;
    height: 60px;
    text-align: right;
    position: relative;
    background: #1699DD;
    font-family: Roboto, sans-serif;
}

.toolbar .page-title {
    float: left;
    color: #FFF;
    font-size: 20px;
    line-height: 60px;
    padding-left: 25px;
}

main {
    padding: 50px;
    margin-left: 200px;
}

.sidenav {
    left: 0;
    bottom: 0;
    top: 60px;
    z-index: 1;
    width: 200px;
    padding: 10px 0;
    position: absolute;
    background-color: #111;
}

.sidenav a {
    display: block;
    font-size: 14px;
    padding: 14px 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .7);
    border-left: 3px solid transparent;
}

.sidenav a:hover,
.sidenav a:active,
.sidenav a.active {
    color: #FFF;
}

.sidenav a:active,
.sidenav a.active {
    border-color: #1699DD;
}