/*---------------------------------------------
	/ Globals, Resets and base styles
*/
*, *:before, *:after {
	border: 0;
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	background: transparent;
}

html, body, #root {
	min-height: 100%;
}

body {
	color: #444;
	font-size: 13px;
	line-height: 20px;
	background: #EEECEC;
	font-family: Roboto, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-bottom: 1em;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

ul { list-style: none; }

label, button, input[type="button"],
input[type="submit"], input[type="file"] {
	cursor: pointer;
}

p {
	margin-bottom: 1em;
}

a {
	color: #006AD1;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #359AFC;
}





/*---------------------------------------------
	/ Scrollbars
*/
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .5);
}

::-webkit-scrollbar-thumb:active {
	background: rgba(0, 0, 0, .3);
}





/*---------------------------------------------
	/ Buttons
*/
.btn,
button {
	color: #FFF;
	font-size: 13px;
	line-height: 1;
	font-weight: 500;
	padding: 12px 20px;
	border-radius: 3px;
	background: #2196F3;
	vertical-align: top;
	letter-spacing: .3px;
	display: inline-block;
	text-transform: uppercase;
	font-family: Roboto, sans-serif;
	transition: background-color,box-shadow .15s ease-in-out;
}

.btn.disabled,
button.disabled,
button[disabled],

.btn.disabled:hover,
button.disabled:hover,
button[disabled]:hover,

.btn.disabled:focus,
button.disabled:focus,
button[disabled]:focus,

.btn.disabled:active,
button.disabled:active,
button[disabled]:active {
	color: #FAFAFA;
	background: #999;
	box-shadow: none;
}

.btn:hover,
.btn:focus,
button:hover,
button:focus {
	color: #FFF;
	background: #1E88E5;
	text-decoration: none;
	box-shadow: 0 7px 13px 0 rgba(27, 58, 108, 0.11), 0 3px 8px 0 rgba(27, 58, 108, 0.11);
}

button.red, .btn.red { background: #F44336; }
button.red:hover, .btn.red:hover,
button.red:active, .btn.red:active { background: #E53935; }

button.green, .btn.green { background: #4CAF50; }
button.green:hover, .btn.green:hover,
button.green:active, .btn.green:active { background: #43A047; }

button.orange, .btn.orange { background: #FF9800; }
button.orange:hover, .btn.orange:hover,
button.orange:active, .btn.orange:active { background: #FB8C00; }

.btn.flat,
button.flat {
	color: #333;
	font-size: 13px;
	background: none;
	box-shadow: none;
	font-weight: 600;
	padding: 2px 12px;
	transition: color .15s;
	text-transform: uppercase;
}

.btn.flat:hover,
button.flat:hover {
	color: #777!important;
	background: none;
	box-shadow: none;
}

button.flat.red, .btn.flat.red			{ color: #F44336; }
button.flat.blue, .btn.flat.blue		{ color: #2196F3; }
button.flat.green, .btn.flat.green		{ color: #4CAF50; }
button.flat.orange, .btn.flat.orange	{ color: #FF9800; }